<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <title>Title</title>
</head>
<body>

    <nav class="navbar display-3">
      <div class="container-fluid">
        <a class="navbar-brand darktext" href="/">
          <img height="80" src="{% static 'img/fersat.png' %}" alt="fersat">
            Satellite Visualization
        </a>
      </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="narrowtxt">
                    <p>
                        {{ form.latdegrees.label_tag }}<br>
                        {{ form.latdegrees }} {{ form.latminutes }} {{ form.latseconds }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.londegrees.label_tag }}<br>
                        {{ form.londegrees }} {{ form.lonminutes }} {{ form.lonseconds }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    </div>
                    <p>
                        {{ form.height.label_tag }}<br>
                        {{ form.height }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.theta.label_tag }}<br>
                        {{ form.theta }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.phi.label_tag }}<br>
                        {{ form.phi }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    <input type="submit" value="Show image">
                </form>
            </div>
        </div>
    </div>
</body>
</html>